   <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
<a class="navbar-brand" href="index.php" style="color:#dfe3ee;">
          <img class='logo_r' src="assets/images/logo_beta.png" style="margin-top:-5px; background: #fff;" alt="roughsheet" />
      </a>
     <div class="visible-xs" style="float:right">
      <!--<a class="btn btn-warning" data-toggle="false" role="button" aria-expanded="false"  href='<?php //echo START_PATH . "?Logout" ?>'>Logout</a>-->
 <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" style="margin-top:5px;margin-left:-36%;" data-toggle="dropdown" aria-expanded="false">
    Side Menu <?php call_pic(30,30,"img-circle"); ?><span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" style="z-index:1032;">
    <li>
   <div class="list-group" style="margin-top:20px;background:transparent; border-radius: 100px;box-shadow:0 0 30px #b7b7b7;z-index:1032;">
  <a href="#" onclick="getPage('STUDY MATERIAL')" class="list-group-item">Study Material</a>
  <a href="#" onclick="getPage('DPP')" class="list-group-item">Today's DDPS</a>
  <a href="#" onclick="getPage('FOCUS')" class="list-group-item">Focus Areas</a>
  <!--<a href="#" onclick="getPage('GALACTICOS')" class="list-group-item">Galactitos</a>-->
  <a href="#" onclick="getPage('PERFORMANCE')" class="list-group-item">My Performance</a>
  <a href="#" onclick="getPage('SCHEDULER')" class="list-group-item">Scheduler</a>
</div></li>
  </ul>
</div>
     </div>
        </div>
<!--   collapse code     -->
        <div id="navbar" class="navbar-collapse collapse">
<!--      search code    -->
          <span class="navbar-form navbar-right" role="search">
        <div class="hidden-xs">
    <div class="input-group">
      <input type="text" id="search_q" class="form-control" style="min-width:200px;max-width:200px;" placeholder="Search friend">
      <span class="input-group-btn">
        <button class="btn btn-default glass" type="button" onclick="search()">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 --></span>
<!--          -->
          <ul class="nav navbar-nav navbar-right">
         <li  style='background:#24b060;color:#fff;'><a href="index.php">Home<span class="sr-only">(current)</span></a></li>
        <li  style='background:#24b060;color:#fff;'><a href="#" onclick="getFriends()">Friends</a></li>
        <!--<li><a href="#" onclick="getPage('PROFILE')"> -->
        <li  style='background:#24b060;color:#fff;'><a href="#" onclick="f_profile('own')">Profile </a></li>
         <li class="visible-xs" style='background:#24b060;color:#fff;'><a href='<?php echo START_PATH . "?Logout" ?>'>Logout</a></li>
          </ul>
          <div class="dropdown navbar-right hidden-xs">
  <button id="dLabel" type="button" class="btn"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-cog" aria-hidden="true">
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel" style="width:150px;z-index:1030;">
   <li><a href=# data-toggle="modal" data-target=".change_pass" onclick="chkPassForm()" >Change Password</a></li>
   <li><a href='<?php echo START_PATH . "?Logout" ?>'>Logout</a></li>
  </ul>
</div>
<!--      notification drop down    -->
          <div class="dropdown navbar-right">
  <button id="dLabel" type="button" class="btn"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span><span id='print_badge' class='badge' style='position:absolute;background:#fff;font-size:9px;margin-left:0px;margin-top:8px;color:#333'><?php echo $fr_count; ?></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel" style="width:250px;overflow:auto;max-height:500px;z-index:1030;">
<?php
if(count($menu_fr_arr)==0){
echo"<center>No notifications for now.</center>";
}
else{
foreach($menu_fr_arr as $k => $v){
$c_q=mysql_query("SELECT * FROM " . USER_INFO . " WHERE UID='$v'") or die(mysql_error());
$c_d=mysql_fetch_assoc($c_q);
echo"<div class='request' id='request_$v'><img class='img-circle' style='width:25px;height:25px;' src='app/includes/spic.php?$c_d[UID_Pro_Pic]'>&nbsp;&nbsp;<a onclick='f_profile($v)'>$c_d[UID_FirstName] $c_d[UID_LastName] </a>&nbsp;
<span id='fr_data_$v' style='float:right'>
<a onclick='f_confirm_menu($v)'><span class='glyphicon glyphicon-ok' style='cursor:pointer;margin:5px;'></span></a>
<a onclick='f_reject_menu($v)'><span class='glyphicon glyphicon-remove' style='cursor:pointer;margin:5px;'></span></a>
</span></div>";
}
}
?> </ul>
</div>
<!--     notification ends     -->
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
        <!--ends-->
      </div>
    </nav>