/* The following styles are used only for this page - the actual plugin styles are in slidernav.css */
            * { margin: 0; padding: 0; }
	body {
	padding-top:30px;
	margin:10px auto;
	line-height:18px;
	font-family :'Helvetica', Arial, Verdana, sans serif;
	font-size: 15px; line-height: 18px;
	background:#fefbf3 url("../img/top.png") no-repeat;
	}

 #btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn1 {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: wait;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#btn a{
	text-decoration: none;
}
#btn1 a{
	text-decoration:none;
	
}
#container
{
margin:10px auto;
	width:970px;
	background:#fff url("../img/bg.gif") right fixed;
	box-shadow:0 0 20px #333;
	border-radius:15px;
}
#header
{
	text-align:center;
	height:101px;
	background:transparent;
	padding-top:15px;
	font-family :'Helvetica', Arial, Verdana, sans serif;
	text-transform: uppercase !important;
	font-size:15px;
	margin-bottom:5px;
color:#444;
}

#header h1 { margin-top:0px; margin-bottom:0px; font-size:30px; line-height:30px;}

#content-container
{
	float:left;
	width: 970px;
	/*background: #eeffff;*/
/*	background-color: #eeffff;*/
/*background-image: -moz-linear-gradient(#eeffff, #0186ba);*/
/*background-image: -webkit-gradient(linear, left top, left bottom, from(#eeffff), to(#0186ba));*/
background:transparent;
}

#content
{
	
	padding: 0px 0;
	margin: 0 0 0 100px;
	display: inline;
}

#content h2 { margin: 0; }



		/*p { font: 15px/2 Georgia, Serif; margin: 0 0 0 0; text-indent: 40px; }*/
                

/*footer*/
#footer
{ 
	clear: both;
	background: url("\../img/ribbon1.png")no-repeat;
	margin-left:-30px;
	text-align:right;
	background-position:8px 0px;
	background-size:1013px;
	padding:20px;
	margin-right:-21px;
	margin-bottom:30px;
	height:150px;
        /*box-shadow: 0 0 14px #333;*/
	/*border-radius:15px 15px 15px 15px;*/
}
#footer p{
	
	color:#333;
	font-size:15px;
	}
/*table*/
/*table */
#rounded-corner
{
  text-shadow:0px 0px 0px #fff;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .8s ease-in-out;
	font-family :'Helvetica', Arial, Verdana, sans serif;
	font-size:12px;
	margin:10px 0 0 -10px;
	width:970px;
	text-align: left;
	border-collapse: collapse;
	box-shadow: 0 0 20px #333;
}
#rounded-corner thead th.rounded-company
{
	width:10px;
}
#rounded-corner thead th.rounded-q4
{
	
}
#rounded-corner thead th.rounded-q7
{
	
}

#rounded-corner th{padding: 8px;font-weight: normal;font-size: 13px;color: #f1f1f1;border-left:1px solid #ccc;background-color: #0074cc;*background-color: #0055cc;background-image: -ms-linear-gradient(top, #0088cc, #0055cc);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);background-image: -o-linear-gradient(top, #0088cc, #0055cc);background-image: -moz-linear-gradient(top, #0088cc, #0055cc);background-image: linear-gradient(top, #0088cc, #0055cc);background-repeat: repeat-x;}
#rounded-corner td{-webkit-transition: all 0.8s ease-out;-moz-transition: all 0.8s ease-out;-o-transition:all 0.8s ease-out;padding: 8px;background: #fff;border-top: 1px solid #f1f1f1;border-left:1px solid #f2f2f2;border-left:1px solid #f2f2f2;color: #333;/*box-shadow: 0 0 20px #333;*/      border-right:1px solid #f2f2f2;}
#rounded-corner tbody tr:hover td{background: #ddd;}
/*menu bar */
#hb-menu, #hb-menu ul {/*position:fixed;*/    top: 0;  left: 0;/*margin-bottom: 40px;*/padding: 0;list-style: none;z-index:1;}
#hb-menu {width: 970px;height:40px;margin:0px auto;border: 1px solid #222;background-color: #111;background-image: -moz-linear-gradient(#444, #111);background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));background-image: -webkit-linear-gradient(#444, #111);background-image: -o-linear-gradient(#444, #111);background-image: -ms-linear-gradient(#444, #111);background-image: linear-gradient(#444, #111);-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;-moz-box-shadow: 0 1px 1px #777;-webkit-box-shadow: 0 1px 1px #777;box-shadow: 0 1px 1px #777;}
#hb-menu:before,#hb-menu:after {content: "";display: table;}
#hb-menu:after {clear: both;}
#hb-menu {zoom:1;}
#hb-menu li {width:11%;float: left;border-right: 1px  #111;/*-moz-box-shadow: 1px 0 0 #444;*//*-webkit-box-shadow: 1px 0 0 #444;*//*box-shadow: 1px 0 0 #444;*/position: relative;}
#hb-menu a {float: left;padding: 12px 10px;color: #999;text-transform: uppercase;font: bold 12px Arial, Helvetica;text-decoration: none;text-shadow: 0 1px 0 #000;}
#hb-menu li:hover > a {color: #fafafa;}
*html #hb-menu li a:hover { /* IE6 only */color: #fafafa;}
#hb-menu ul {margin: 20px 0 0 0;_margin: 0; /*IE6 only*/opacity: 0;visibility: hidden;position: absolute;top: 38px;left: 0;z-index: 9999;background: #444;background: -moz-linear-gradient(#444, #111);background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));background: -webkit-linear-gradient(#444, #111);background: -o-linear-gradient(#444, #111);background: -ms-linear-gradient(#444, #111);background: linear-gradient(#444, #111);-moz-box-shadow: 0 -1px rgba(255,255,255,.3);-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);box-shadow: 0 -1px 0 rgba(255,255,255,.3);-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
#hb-menu li:hover > ul {opacity: 1;visibility: visible;margin: 0;}
#hb-menu ul ul {top: 0;left: 150px;margin: 0 0 0 20px;_margin: 0; /*IE6 only*/-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);box-shadow: -1px 0 0 rgba(255,255,255,.3);}
#hb-menu ul li {float: none;display: block;/*width: 160px;*/border: 0;_line-height: 0; /*IE6 only*/-moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;-webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;box-shadow: 0 1px 0 #111, 0 2px 0 #666;}
#hb-menu ul li:last-child {-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
#hb-menu ul a {padding: 10px;width: 130px;_height: 10px; /*IE6 only*/display: block;white-space: nowrap;float: none;text-transform: none;}
#hb-menu ul a:hover {background-color: #0186ba;background-image: -moz-linear-gradient(#04acec, #0186ba);background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));background-image: -webkit-linear-gradient(#04acec, #0186ba);background-image: -o-linear-gradient(#04acec, #0186ba);background-image: -ms-linear-gradient(#04acec, #0186ba);background-image: linear-gradient(#04acec, #0186ba);}
#hb-menu ul li:first-child > a {-moz-border-radius: 3px 3px 0 0;-webkit-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;}
#hb-menu ul li:first-child > a:after {content: '';position: absolute;left: 40px;top: -6px;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #444;}
#hb-menu ul ul li:first-child a:after {left: -6px;top: 50%;margin-top: -6px;border-left: 0;border-bottom: 6px solid transparent;border-top: 6px solid transparent;border-right: 6px solid #3b3b3b;}
#hb-menu ul li:first-child a:hover:after {border-bottom-color: #04acec;}
#hb-menu ul ul li:first-child a:hover:after {border-right-color: #0299d3;border-bottom-color: transparent;}
#hb-menu ul li:last-child > a {-moz-border-radius: 0 0 3px 3px;-webkit-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px;}