body {padding-top:30px;margin:10px auto;line-height:18px;background:#f5f5f5 url( "../img/top.png ") no-repeat;font-family: 'Helvetica ',Arial,Verdana,sans serif;font-size:15px;line-height:18px;}
#container {margin:0 auto;width:970px;background:#fff url( "../img/bg.gif ") right fixed;box-shadow:0 0 20px #333;border-radius:15px;}
#header {text-align:center;height:83px;background:transparent;padding:20px;font-family: 'Helvetica ',Arial,Verdana,sans serif;text-transform:uppercase !important;color:#444;}
#header h1 {margin:0;}
#content-container {float:left;width:1000px;background:transparent;}
#content {clear:left;float:left;padding:0px 0 0 00px;margin:0 0 0 0px;display:inline;}
#content h2 {margin:0;}
/*side bar*/
#navbox {position:relative;float:left;}
#navbox ul.nav {list-style:none;display:block;width:190px;position:relative;top:0px;left:0px;padding:0px 0 0px 0;background:url( \../img/shad2.png) no-repeat;}
#navbox li {margin:010px 0 0px 0px;}
#navbox ul.nav li a {-webkit-transition:all 0.3s ease-out;background:#cbcbcb url( \../img/border.png) no-repeat;color:#174867;padding:7px 15px 7px 15px;-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:10px;width:100px;display:block;text-decoration:none;-webkit-box-shadow:2px 2px 4px #888;font-family: 'Helvetica ',Arial,Verdana,sans serif;text-transform:uppercase !important;}
#navbox ul.nav li a:hover {background:#ebebeb;color:#67a5cd;padding:7px 15px 7px 30px;}
/*menu bar */
#hb-menu,#hb-menu ul {top:0;left:0;padding:0;list-style:none;z-index:1;}
#hb-menu {width:970px;height:40px;margin:0px auto;border:1px solid #222;background-color:#111;background-image:-moz-linear-gradient(#444,#111);background-image:-webkit-gradient(linear,left top,left bottom,from(#444),to(#111));background-image:-webkit-linear-gradient(#444,#111);background-image:-o-linear-gradient(#444,#111);background-image:-ms-linear-gradient(#444,#111);background-image:linear-gradient(#444,#111);-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;-moz-box-shadow:0 1px 1px #777;-webkit-box-shadow:0 1px 1px #777;box-shadow:0 1px 1px #777;}
#hb-menu:before,#hb-menu:after {content: " ";display:table;}
#hb-menu:after {clear:both;}
#hb-menu {zoom:1;}
#hb-menu li {width:11%;float:left;border-right:1px #111;position:relative;}
#hb-menu a {float:left;padding:12px 10px;color:#999;text-transform:uppercase;font:bold 12px Arial,Helvetica;text-decoration:none;text-shadow:0 1px 0 #000;}
#hb-menu li:hover >a {color:#fafafa;}
*html #hb-menu li a:hover { /* IE6 only */color:#fafafa;}
#hb-menu ul {margin:20px 0 0 0;_margin:0; /*IE6 only*/opacity:0;visibility:hidden;position:absolute;top:38px;left:0;z-index:9999;background:#444;background:-moz-linear-gradient(#444,#111);background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#111),color-stop(1,#444));background:-webkit-linear-gradient(#444,#111);background:-o-linear-gradient(#444,#111);background:-ms-linear-gradient(#444,#111);background:linear-gradient(#444,#111);-moz-box-shadow:0 -1px rgba(255,255,255,.3);-webkit-box-shadow:0 -1px 0 rgba(255,255,255,.3);box-shadow:0 -1px 0 rgba(255,255,255,.3);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
#hb-menu li:hover >ul {opacity:1;visibility:visible;margin:0;}
#hb-menu ul ul {top:0;left:150px;margin:0 0 0 20px;_margin:0; /*IE6 only*/-moz-box-shadow:-1px 0 0 rgba(255,255,255,.3);-webkit-box-shadow:-1px 0 0 rgba(255,255,255,.3);box-shadow:-1px 0 0 rgba(255,255,255,.3);}
#hb-menu ul li {float:none;display:block;border:0;_line-height:0; /*IE6 only*/}
#hb-menu ul li:last-child {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
#hb-menu ul a {padding:10px;width:170px;_height:10px; /*IE6 only*/display:block;white-space:nowrap;float:none;text-transform:none;}
#hb-menu ul a:hover {background-color:#0186ba;background-image:-moz-linear-gradient(#04acec,#0186ba);background-image:-webkit-gradient(linear,left top,left bottom,from(#04acec),to(#0186ba));background-image:-webkit-linear-gradient(#04acec,#0186ba);background-image:-o-linear-gradient(#04acec,#0186ba);background-image:-ms-linear-gradient(#04acec,#0186ba);background-image:linear-gradient(#04acec,#0186ba);}
#hb-menu ul li:first-child >a {-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;}
#hb-menu ul li:first-child >a:after {content: ' ';position:absolute;left:40px;top:-6px;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #444;}
#hb-menu ul ul li:first-child a:after {left:-6px;top:50%;margin-top:-6px;border-left:0;border-bottom:6px solid transparent;border-top:6px solid transparent;border-right:6px solid #3b3b3b;}
#hb-menu ul li:first-child a:hover:after {border-bottom-color:#04acec;}
#hb-menu ul ul li:first-child a:hover:after {border-right-color:#0299d3;border-bottom-color:transparent;}
#hb-menu ul li:last-child >a {-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}
/*end*/
/*footer*/
#footer {clear:both;margin-left:-30px;text-align:right;height:40px;}
/* teacher index box css */
#viewbox {width:700px;margin:40px 200px 20px 0px;padding:10px 10px 10px 135px;background:transparent;}
#viewbox .view {display:inline-table;width:200px;height:205px;margin:10px 0 0px 10px;position:relative;border:8px solid #ccc;box-shadow:0px 0px 20px 0 #333;background:#fff;border-radius:8px;-webkit-transition:all 0.4s ease-in;-o-transition:all 0.4s ease-in;-moz-transition:all 0.4s ease-in;z-index:0;}
#viewbox p {margin:0px;}
#viewbox .view:hover {box-shadow:0px 0px 25px 0 #333;}
.view img {position:absolute;opacity:0.8;width:200px;height:205px;}
.view img:hover {opacity:1;}
select,input [type= "password " ],input [type= "text " ] {border:solid 2px #b1cd3b;background:#ffffff;margin:3px 0px 0px 0px;padding:2px 2px 3px 4px;display:inline-block;font-size:12px;width:150px;background:-webkit-gradient( linear,left top,left 25,from(#FFFFFF),color-stop(4%,#EEEEEE),to(#FFFFFF) );background:-moz-linear-gradient( top,#FFFFFF,#EEEEEE 1px,#FFFFFF 25px );-moz-box-shadow:0px 0px 8px #99ccff;-webkit-box-shadow:0px 0px 8px #99ccff;box-shadow:0px 0px 8px #99ccff;}
/*table */
#rounded-corner {text-shadow:0px 0px 0px #fff;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .8s ease-in-out;font-family: 'Helvetica ',Arial,Verdana,sans serif;font-size:12px;margin:20px auto;width:700px;text-align:left;border-collapse:collapse;box-shadow:0 0 20px #333;}
#rounded-corner thead th.rounded-company {background:#b9c9fe url( 'table-images/left.png ') left -1px no-repeat;}#rounded-corner thead th.rounded-q7 {background:#b9c9fe url( 'table-images/right.png ') right -1px no-repeat;}
#rounded-corner th {padding:8px;font-weight:normal;font-size:13px;color:#f1f1f1;border-left:1px solid #ccc;background-color:#0074cc;*background-color:#0055cc;background-image:-ms-linear-gradient(top,#0088cc,#0055cc);background-image:-webkit-gradient(linear,0 0,0 100%,from(#0088cc),to(#0055cc));background-image:-webkit-linear-gradient(top,#0088cc,#0055cc);background-image:-o-linear-gradient(top,#0088cc,#0055cc);background-image:-moz-linear-gradient(top,#0088cc,#0055cc);background-image:linear-gradient(top,#0088cc,#0055cc);background-repeat:repeat-x;}
#rounded-corner td {-webkit-transition:all 0.8s ease-out;-moz-transition:all 0.8s ease-out;-o-transition:all 0.8s ease-out;padding:8px;background:#fff;border-top:1px solid #f1f1f1;border-left:1px solid #f2f2f2;border-left:1px solid #f2f2f2;color:#333;/*box-shadow: 0 0 20px #333;*/border-right:1px solid #f2f2f2;}
#rounded-corner tbody tr:hover td {background:#ddd;}
/*end */