#prod-content {color:#6e6e6e;position:relative;width:100%;margin-top:15px;letter-spacing:-0.04em;overflow:hidden;-moz-border-radius:7px;-webkit-border-radius:7px;}
body.faq .faqsearch {background:url(../img/greyscale-sprite__f050d77.png) no-repeat 0px -463px;margin:0 0 30px;background:#DDD;padding:17px 0;width:587px;margin:20px 0 0 200px;}
body.faq .faqsearch .faqsearchinputbox {border:1px solid #ddd;margin:0px 25px;background:#fff url(../img/textinputbg__5d76440.gif) repeat-x;}
body#youhack a, body#nitropage a {color:#999;}
body#youhack p, body#nitropage p {color:#333;}
body#youhack a:hover, body#nitropage a:hover, body#youhack a:focus, body#nitropage a:focus {color:#f8d043;}
body#nitropage.faq .faqsearch {background:url(../img/nitro_faqsearch__80573fb.gif)no-repeat;}
#list{box-shadow:0 0 10px #333;color:#111;height:50px;float:right;width:650px;margin:3px 160px 10px 150px;background-color: #54cffe;border:1px solid #c8c8c8;background-image: -moz-linear-gradient(#04acec, #54cffe);background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#54cffe));background-image: -webkit-linear-gradient(#04acec, #54cffe);background-image: -o-linear-gradient(#04acec, #54cffe);background-image: -ms-linear-gradient(#04acec, #54cffe);background-image: linear-gradient(#04acec, #54cffe);border-radius:7px;}
a{line-height:15px;text-decoration:none;}
#list_style{font-family :'Helvetica', Arial, Verdana, sans serif;padding-top:17px;line-height:15px;text-decoration:none;list-style:none;text-transform:uppercase;}
#list_style b{font-family :'Helvetica', Arial, Verdana, sans serif;padding-right:30px;}
#list:hover{-webkit-transition: all 0.3s ease-out;background:#e8e8e8;font-family :'Helvetica', Arial, Verdana, sans serif;box-shadow:0 0 5px #333;}
#search_text{text-align:center;line-height:20px;font-family :'Helvetica', Arial, Verdana, sans serif;color:#333;}