form.formular {font-family: tahoma, verdana, "sans-serif";font-size: 15px;padding:10px 0 0 50px;background:#eeeeee;border: 1px solid  #A5A8B8;width: 300px;margin: 0 auto;border-radius:5px ;text-align: left;}
.formular label span {color: #000;}
.formular input,.formular select,.formular textarea {display: block;  /* this breaks relative positioning */margin-bottom: 5px;}
.formular .text-input {width: 250px;color: #555;padding: 10px;border: 1px solid #B5B8C8;font-size: 14px;margin-top: 4px;background: #FFF repeat-x;}
.formular .submit {border: 1px solid #AAA;padding: 4px;margin-top: 20px;float: right;text-decoration: none;cursor: pointer;}
input[type="text"],input[type="password"]{display: inline-block;height: 30px;padding: 4px 6px;margin-bottom: 10px;font-size: 14px;line-height: 20px;color: #555555;vertical-align: middle;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}