<ul id="hb-menu"> 
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>

<li><a href="../../index.php">Home</a></li>
<li><a href="../../att_tree.php">ATTENDANCE</a></li>
<li><a href="../../teacher_logout.php">LOGOUT</a></li> 
</ul>
