<ul id="hb-menu"> 
<li><a href="#"></a></li>
<li><a href="../../index.php">Home</a></li>
<li><a href="../../../admin/search.php">Search</a></li>
<li><a href="../../../admin/teacher.php">TEACHER</a></li>
<li><a href="../../../admin/student.php">Student</a></li>
<li><a href="../../../admin/chartindex.php">Graphs</a></li>
<li><a href="../../../../../../feedback/admin/index.php">FEEDBACK</a>
<ul><li><a href="../../../../../../feedback/admin/tree.php?type=allocate">ALLOCATE TEACHERS</a></li>
<li><a  href="../../../../../../../feedback/admin/tree.php?type=select">CHECK FEEDBACK</a></li>
<li><a href="../../../../../../feedback/admin/feed_history.php">FEEDBACK HISTORY</a></li>
</ul></li>
<li><a href="../../../../../../feedback/admin/att_tree.php" >ATTENDANCE</a></li>
<li><a href="../../../admin/admin_logout.php">LOGOUT</a></li>

</ul>
